// =======================================
// EWDS Button Component
// =======================================
@use "sass:color";
@use "../../core/core" as *;

.ewds-button {
  @include button-base;
  background-color: $color-primary;
  color: white;
  border: none;

  &:hover {
    background-color: color.adjust($color-primary, $lightness: -5%);
  }
}
