@use "../../../../ewds-core" as *;

.ethio-form {
  @include typeset(
    $theme-form-font-family,
    $theme-body-font-size,
    $theme-input-line-height
  );
  @include border-box-sizing;

  @include at-media("mobile-lg") {
    max-width: units("mobile");
  }

  // Don't show dotted underline with "required" asterisk because it can cause legibility issues ad appear as an ellipsis...
  abbr[title="required"] {
    text-decoration: none;
  }

  // Clear max-width in children since .ethio-form has one of its own.
  // Used :where() to reduce specificity and
  // prevent ethio-form styles from overriding `ethio-input--[width] and `ethio-input-group--[width]` classes.
  :where(.ethio-input, .ethio-textarea, .ethio-select, .ethio-range) {
    max-width: none;
  }

  .ethio-button {
    margin-top: units(1);

    @include at-media("mobile-lg") {
      margin-top: units(3);
    }
  }

  // Avoids links styled as buttons
  a:where(:not(.ethio-button)) {
    @include typeset-link;
  }
}

.ethio-form--large {
  @include at-media("mobile-lg") {
    max-width: units("mobile-lg");
  }
}

.ethio-show-password {
  @include button-unstyled;
  cursor: pointer;
}

.ethio-form__note,
.ethio-show-password {
  @include typeset($theme-form-font-family, "2xs", 3);
  float: right;
  margin: units(0.5) 0 units(2);
}
